body {
    background-image: url(imagens/fundo.png);
    width: 900px;
}

.menu {
    font-size: large;
    font-weight: bold;
    padding: 30px;
    background-color: rgb(218, 211, 211);
    margin-right: 1px;
}

.conteudo {
    background-color: white;
    padding: 10px;

}

h3 {
  font-size:20px;
  color:rgb(0, 0, 0);
 
}

.direitos {
    text-align: center;
    margin-right: 1px;
    text-decoration: solid;
    font-weight: bold;
    padding: 20px;
}